:root {
  --primary-color: #635ae2;
  --secondary-color: #3f3a8a;
  --hover-color: #ebad31;
  --light-gray-color: #d9d9d9;
  --gray-color: #bdbdbd;
  --light-color: #f2efef;
  --dark: #333;
}
*,
::after,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #f3f3f3;
  color: #222;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 35px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 25px;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header CSS
-----------------*/
header {
  background: var(--primary-color);
  color: var(--light-color);
  padding: 10px 0;
}

.logo-area h2 {
  font-size: 33px;
  letter-spacing: 1.3px;
}

.btn {
  background: var(--secondary-color);
  padding: 10px 25px;
  color: var(--light-color);
  border-radius: 30px;
  display: inline-block;
}

.btn:hover {
  background: var(--hover-color);
}

/* App CSS
-------------------*/
.app-github-users {
  min-height: 80vh;
  padding: 50px 0;
}

.app-github-users h1 {
  font-size: 50px;
  text-align: center;
}

/* Footer CSS
----------------*/
footer {
  background: var(--light-gray-color);
  padding: 10px 0;
}

.copyright-text {
  text-align: center;
}
.copyright-text a {
  color: var(--primary-color);
  font-weight: 600;
}
